.col {
  display: flex;
  box-sizing: border-box;
}

.opinion-pages {
  display: flex;
}

.opinion-col {
  width: 50%;
}

.col-1-5 {
  width: 20%;
}

.col-1-2 {
  width: 50%;
}

.col-3-10 {
  width: 30%;
}
/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  margin-right: 20px;
}

[class*='col-']:last-of-type {
  margin-right: 0;
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }
}
