.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  background-color: rgb(4,109,139); //Creator: http://www.colourlovers.com/lover/Beklad/loveNote
}

.header h1 {
  font-size: 30px;
  color: white;
}

.header-left {
  display: flex;
  height: 55%;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  height: 55%;
  width: 100%;
  justify-content: center;
}

.header-right {
  display: flex;
  height: 55%;
  justify-content: flex-end;
}

@media all and (max-width: 550px) {
  .search {
    display: none;
  }
}

.search {
  background-color: rgb(232,232,232); //Creator: http://www.colourlovers.com/lover/munsteri/loveNote
  border-radius: 4px;
  margin-right: 23px;
  border: 2px solid rgb(47,184,172); //http://www.colourlovers.com/lover/Tzadkiel/loveNote
  width: 50%;
}

.session-links {
  display: flex;
  align-items: center;
}

.header a, .header button {
  border-radius: 4px;
  border: 0.5px solid white;
  color: white;
  background-color: rgb(47,184,172); //http://www.colourlovers.com/lover/Tzadkiel/loveNote
  padding: 8px 12px;
  margin: 5px;
  white-space: nowrap;
}
.header a:hover, .header button:hover {
  background-color: rgb(147,164,42); //http://www.colourlovers.com/lover/Tzadkiel/loveNote
}
