#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  background-color: rgb(149,170,97);
}

#header h1 {
  font-size: 30px;
  color: rgb(246,248,238);
}

#header-left {
  display: flex;
  height: 55%;
  justify-content: space-between;
  align-items: center;
}

#header-middle {
  display: flex;
  height: 55%;
  width: 100%;
  justify-content: center;
}

#header-right {
  display: flex;
  height: 55%;
  justify-content: flex-end;
}

@media all and (max-width: 550px) {
  #search {
    display: none;
  }
}

#search {
  background-color: rgb(246,248,238);
  border-radius: 4px;
  margin-right: 23px;
  border: 2px solid rgb(214,230,138);
  width: 50%;
}

#session-links {
  display: flex;
  align-items: center;
}

#header a, #header-right button {
  border-radius: 4px;
  color: rgb(246,248,238);
  padding: 8px 12px;
  margin: 5px;
  white-space: nowrap;
  border: 1px solid rgb(214,230,138);
}
#header a:hover, #header-right button:hover {
  background-color: rgb(214,230,138);
  color: rgb(137,151,82);
}

//rgb colors from //http://www.colourlovers.com/palette/154705/Panda_vs_Bamboo
